.container {
  justify-content: center;
  width: 80%;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 200, 156, 0.1);
  border-radius: 10px;
  border: 1px #1de4c1 solid;
  padding-top: 2%;
  padding-bottom: 2%;
}
